
#exemplo {width: 300px; }
.subdiv{height: 50px; color: #fff;width: 150px;float: left;display: inline;padding: 10px;box-sizing:border-box;border: 5px solid #000;}
.um{background-color: #666}
.dois{ background-color: #333}